{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id="all-posts-view">
        <div id="page-name"></div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <div id="post-view">
                    <div id="error-message" class="alert alert-danger" role="alert"></div>
                    <form id="post-form">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <textarea id="post-body" class="form-control" rows="4"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Post" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="posts-view">
    </div>

    <div id="profile-view">
    </div>

    <div id="pagination-view" class="pagination">
        <span class="step-links">
            <a id="first-page-link" href="#">&laquo; first</a>
            <a id="previous-page-link" href="#">previous</a>
            <span id="current-page-span" class="current"></span>
            <a id="next-page-link" href="#">next</a>
            <a id="last-page-link" href="#">last &raquo;</a>
        </span>
    </div>
    

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}